/* Airbnb Cereal App */

@font-face {
  font-family: 'Airbnb Cereal App';
  src: url('/assets/fonts/airbnb/AirbnbCerealBlack.ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'Airbnb Cereal App';
  src: url('/assets/fonts/airbnb/AirbnbCerealExtraBold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'Airbnb Cereal App';
  src: url('/assets/fonts/airbnb/AirbnbCerealBold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Airbnb Cereal App';
  src: url('/assets/fonts/airbnb/AirbnbCerealMedium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Airbnb Cereal App';
  src: url('/assets/fonts/airbnb/AirbnbCerealBook.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Airbnb Cereal App';
  src: url('/assets/fonts/airbnb/AirbnbCerealLight.ttf');
  font-weight: 200;
}

/* Adobe Caslon Pro */

@font-face {
  font-family: 'Adobe Caslon Pro';
  src: url('/assets/fonts/adobe/ACaslonPro-Bold.otf');
  font-weight: 900;
}

@font-face {
  font-family: 'Adobe Caslon Pro';
  src: url('/assets/fonts/adobe/ACaslonPro-BoldItalic.otf');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Adobe Caslon Pro';
  src: url('/assets/fonts/adobe/ACaslonPro-Semibold.otf');
  font-weight: 700;
}

@font-face {
  font-family: 'Adobe Caslon Pro';
  src: url('/assets/fonts/adobe/ACaslonPro-SemiboldItalic.otf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Adobe Caslon Pro';
  src: url('/assets/fonts/adobe/ACaslonPro-Regular.otf');
  font-weight: 500;
}

@font-face {
  font-family: 'Adobe Caslon Pro';
  src: url('/assets/fonts/adobe/ACaslonPro-Italic.otf');
  font-weight: 500;
  font-style: italic;
}
